@using TravelPointSystem.Common
@{
    this.ViewData["Title"] = "Travel Point";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <a href="/Home/About">Learn about us</a>
        <p>Join our community now!</p>
        <p><a href="/Identity/Account/Register">Register</a></p>
        <p><a href="/Identity/Account/Login">Login</a></p>
    </div>
