@model TravelPointSystem.Web.ViewModels.Home.IndexLoggedInViewModel
@{
    this.ViewData["Title"] = "Workplace";
}

<div class="text-center mt-5 mb-3 h1">Welcome to @Model.CompanyName @this.ViewData["Title"]</div>
